<!DOCTYPE html>
<html>
<head>
  <title>Eatup.Events</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,600,500' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
	


	<%=image_tag ("logo.png"), :class => "eatup_brand" %>
	<h1 class="heading">A unique culinary experience curated by your favorite chefs.
	</h1>

	<div class="description">
		<br>
		<p id="slogan">All you have to do is <a id="app_name">Eat Up.</a></p>
		<br>
		<%= image_tag ("dropdown_arrow.png"), :class => "dropdown_arrow" %>
		<br>
		<p id="enter-email">Enter your email for a chance to win a seat at our launch event.</p>
	</div>



<%= yield %>

<div class="email_signup">
</div>

<div class="footer">
	<ul id="social_media">
		<li id="fb"><a href="http://www.facebook.com/eatupevents" target="_blank">
			<%= image_tag ("eatup_facebook.png"), :class => "fb-icon"%>
			</a>
		</li>
		<li id="twitter"><a href="http://twitter.com/EatupEvents" target="_blank">
			<%= image_tag ("eatup_twitter.png"), :class => "twitter-icon"%>
			</a>
		</li>
		<li id="IG"><a href="http://instagram.com/eatup.events/" target="_blank">
			<%= image_tag ("eatup_instagram.png"), :class => "IG-icon"%>
		  	</a>
		</li>
	</ul>

	<li class="EU-events_copy">
		&copy; 2015 Eatup.Events all rights reserved.
	</li>
</div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="mailgun_validator.js"></script>
    <script>
      // document ready
      $(function() {
        // capture all enter and do nothing
        $('#email').keypress(function(e) {
          if(e.which == 13) {
            $('#email').trigger('focusout');
            return false;
          }
        });
        // capture clicks on validate and do nothing
        $("#validate_submit").click(function() {
          return false;
        });
        // attach jquery plugin to validate address
        $('#email').mailgun_validator({
          api_key: 'MAILGUN_PUBKEY', // replace this with your Mailgun public API key
          in_progress: validation_in_progress,
          success: validation_success,
          error: validation_error,
        });
      });
      // while the lookup is performing
      function validation_in_progress() {
        $('#status').html("<img src='loading.gif' height='16'/>");
      }
      // if email successfull validated
      function validation_success(data) {
        $('#status').html(get_suggestion_str(data['is_valid'], data['did_you_mean']));
      }
      // if email is invalid
      function validation_error(error_message) {
        $('#status').html(error_message);
      }
      // suggest a valid email
      function get_suggestion_str(is_valid, alternate) {
        if (is_valid) {
          var result = '<span class="success">Address is valid.</span>';
          if (alternate) {
            result += '<span class="warning"> (Though did you mean <em>' + alternate + '</em>?)</span>';
          }
          return result
        } else if (alternate) {
          return '<span class="warning">Did you mean <em>' +  alternate + '</em>?</span>';
        } else {
          return '<span class="error">Address is invalid.</span>';
        }
      }
    </script>

</body>
</html>
